<section class="about-container">
    <h2>About Me</h2>
    <p>
      Hi! I'm a computer engineering student at <strong>Polytechnique Montréal</strong>, and I started my journey there in <strong>2023</strong> (just finished my second year).
    </p>
    <p>
      This is a small website I built to showcase some of the projects I've worked on. I'm passionate about software development, robotics and always looking to learn more and improve.
    </p>
    <p>
      Feel free to browse through my projects and get in touch if you'd like to collaborate or work together!
    </p>
  </section>
  