<section class="project-detail-container">
    <div class="github-link">
      <a href="https://github.com/sebcrist/Systeme-Gestion-de-BOM" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i> Checkout the Code
      </a>
    </div>
  
    <h2>Bom Management Project - Société Technique Formule SAE (2023-2024)</h2>
    
    <p class="project-description">
      Project for the <strong>Formule SAE</strong> team at <strong>Polytechnique Montréal</strong>. The goal of this project is to create a <strong>BOM (Bill of Materials) management system</strong> for the team.
      It includes both a desktop and mobile application to streamline parts tracking and inventory management.
    </p>
  
    <div class="project-images">
      <img src="assets/mainDesktop.png" alt="BOM Management Desktop Screenshot">
      <img src="assets/editMobile.jpg" alt="BOM Management Desktop Screenshot">
      <img src="assets/qrCode.png" alt="BOM Management Desktop Screenshot">
      <img src="assets/scanMobile.jpg" alt="BOM Management Desktop Screenshot">
    </div>
  
    <div class="more-content-placeholder">
      <p>More technical details and features will be added here...</p>
    </div>
  
    <button routerLink="/projects" class="back-button">← Back to Projects</button>
  </section>
  
  
@if (lightboxImage) {
  <div class="lightbox" (click)="closeLightbox()" [class.visible]="lightboxVisible">
    <img [src]="lightboxImage" alt="Zoomed Image" (click)="$event.stopPropagation()">
  </div>
}