<section class="project-detail-container">
<div class="github-link">
    <a href="https://github.com/sebcrist/RobotsCollaboratifs_H2024" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-github"></i> Checkout the Code
    </a>
</div>

<h2>Integrative Project 1 - Polytechnique Montréal (2024)</h2>

<p class="project-description">
    This project involved <strong>collaborative robotics</strong>, where we programmed school-built robots to work together, map out a predefined route, and communicate using <strong>infrared (IR)</strong> signals.
    It included working with embedded systems and designing reliable robot-to-robot communication protocols. (<strong>C++</strong> was used for programming the robots).
</p>

<section class="video-container">
    <video controls width="100%" poster="assets/preview.jpg">
      <source src="assets/robotMouvement.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </section>
  

<div class="project-description">
    <p>
    Unfortunately, I didn’t capture many pictures of the robots, but here’s a short video showing one of them centering itself inside a box. One of the key challenges in this project was dealing with the robots’ unreliability, especially when it came to movement. If the code didn’t account for inconsistencies, the same action could produce very different outcomes, largely due to the wear and tear on the motors. This is why you can see the robot moving with small movements and multiple attempts to center itself. It was a great learning experience in robotics and embedded systems, especially in how to handle real-world hardware limitations.
    </p>
        
</div>

<button routerLink="/projects" class="back-button">← Back to Projects</button>
</section>
  


@if (lightboxImage) {
    <div class="lightbox" (click)="closeLightbox()" [class.visible]="lightboxVisible">
      <img [src]="lightboxImage" alt="Zoomed Image" (click)="$event.stopPropagation()">
    </div>
  }